/build
/eebpf
demo/
*.md
*.txt
*.o
*.skel.h
*.swp
*.json
tags
.*/
!.github/
ai_analysis/venv/
ai_analysis/api.txt
ai_analysis/__pycache__/


!README.md
!requirements.txt
!ai_analysis/report.md
!ai_analysis/api_config.json
!report/*.md
!docs/*
