/build
/eebpf
demo/
*.md
*.txt
*.o
*.skel.h
*.swp
*.swo
*.json
tags
.*/
!.github/
ai_analysis/venv/
ai_analysis/api.txt
ai_analysis/__pycache__/


!README.md
!requirements.txt
!ai_analysis/*.md
!ai_analysis/*.json
!report/*.md
!docs/*
